@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,600&family=Montserrat&family=Sofia+Sans+Semi+Condensed:wght@300&family=Ubuntu:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #1f242d;
    color: #fff;
    cursor: default;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: sideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3;
    opacity: 0;
    margin: 0px 50px 0px 0px;
    animation: sideTop .5s ease forwards;
    animation-duration: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: sideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}

span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: sideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: sideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: sideLeft 1s ease forwards;
    animation-delay: 1s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: sideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: sideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover {
    box-shadow: none;
}

.footer {
    margin: -50px 0px 0px 300px;
}
/* KEYFRAMES ANIMATION */
@keyframes sideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes sideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes sideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes sideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* media */

@media (max-width: 750px) {
    .navbar a {
        color: black;
        margin: 30px 0px 20px 0px;
    }

    .navbar__wrap .menu {
        display: none;
    }

    .hamb {
        display: flex;
        align-items: center;
    }

    .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: white;
        transition: 0.2s;
    }

    .popup {
        position: fixed;
        top: 75px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }

    .popup.open {
        left: 0;
    }

    .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
        overflow: auto;
    }

    .popup .menu>li {
        width: 100%;
    }

    .popup .menu>li>a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: bold;
        color: #3f3f3f;
    }

    .popup .menu>li>a:hover {
        background-color: rgba(122, 82, 179, 0.1);
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
    }

    footer {
        color: #1f242d;
    }
}
  /* about content */